.navb{
    background-color: hsl(231, 34%, 12%);
    /* backdrop-filter: blur(1px); */
    
}

.img-style{
    max-width: 95px;
}


@media only screen and (max-width:768px){
    .navitem{
        width: 100px !important;
    }
  
    
  
  } 