
.eventModal{
    position: absolute;
}

.close{
    text-decoration: none;
    cursor: pointer;
}

.contactSection{
    margin-top: 40%;
}
 .card12{
    width: auto;
    min-width: 270px;
   width: 18rem;
   min-height: 15rem;
   height: 350px;
   background-color: rgba(255,255,255,0.01);
   color: #fffff0;
   backdrop-filter: blur(5px);
   border: 3px solid rgba(255,255,255, 0.1);
   margin: 20px;
   overflow: hidden;
}
.img-fluid12 {
    background-color: transparent;
    color: #fffff0;
    min-height: 150px;
    min-width: 150px;
    transition-duration: 0.5s;
}

.close{
    text-decoration: none;
    cursor: pointer;
}
.btnc{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.detail{
    color: white;
    background-color: #0b0e1e;
    border-radius: 7px;
    border: 3px solid #212451;
    padding: auto 0px;
    margin: 14px 40px;
    
}

.reg{
    color: white;
    background-color: #0b0e1e;
    border-radius: 7px;
    border: 2px solid #212451;
    margin: auto 20px;
}

 .detail:hover{
    background-color: #0b0e1e !important;
   scale: 1.1;
   border: 2px solid #131530;
   transform: translateY(-1px) ;
   transition: ease-out 0.3s;
   box-shadow: 0.05px  0.05px  10px #3b408f,0.05px  -0.05px  10px #3b408f,-0.05px  0.05px  10px #3b408f;
   
} 

.reg:is(:hover){
    scale: 1.1;
   border: 2px solid #131530;
   transform: translateY(-1px) ;
   transition: ease-out 0.3s;
   box-shadow: 0.05px  0.05px  10px #3b408f,0.05px  -0.05px  10px #3b408f,-0.05px  0.05px  10px #3b408f;
 }

.modal-dialog{
    display: grid;
    place-items: center;
}
 .modal-content{
    background-color: #0e121b;
    backdrop-filter: blur(10px);
    padding: 0;
    text-wrap: balance;
    border: 2px solid rgba(255,255,255, 0.1);
 }
 .modal-dialog{
    margin-top: 14%;
 }
 .modal-header h4{
    margin-bottom: 0;
    padding: 0 28px;
   
 }
 

 .modal-header{
    border-bottom: 2px solid rgba(255,255,255, 0.1);
 }

 #dtext{
    max-height: 250px;
    overflow-y: scroll;
    padding: 2px;
 }
 /* width */
::-webkit-scrollbar {
    width: 7px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #015560;
    border: 1px solid;
    border-radius: 5px;
 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(168, 1, 168);
    border: 1px solid aqua;
  }
 .mbtn{
    text-align: center;
    border-radius: 0px;
    padding: 10px 14px;
    text-decoration: none;
    margin: 20px 10px;
 }


 .mbtn:focus{
    border: solid white;
    border-width: 0px 2px 0px 0;
    transition: ease-in-out 0.2s;
 }

 @media (max-width: 400px) {
    .modal-body{
        flex-direction: column;
        margin: 6px;
    }
    .modal-content{

        margin: 28px;
        width: auto;
        text-align: justify;
    }
    .card{
        margin: 70px 20px;
    }
    .mbtn{
        padding: 5px 7px;
        margin: 14px auto;
        color: #0d6efd;
        border: solid white;
        border-width: 0px 0px 0px 0;
     }

     
    
     .mbtn:focus{
        border: solid #0d6efd;
        border-width: 0px 0px 2px 0;
        color: #0d6efd;
        transition: border-width ease-in-out 0.1s;
     }
 }

