@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family:"Quicksand", bootstrap-icons;
}

body{
    /* min-height: 100vh; */

    font-size: 1rem;
      background-image: url("https://i.postimg.cc/25DVMFJj/tech6.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      /* background-color: #140424; */
  }